
body, html {
    height: auto;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    font-size: 40px;
}

h1 {
    text-align: center;
    color: #d62828;
    margin-bottom: 30px;
    font-size: 40px;
}

.container {
    display: flex;
    flex-direction: row; /* Les éléments sont maintenant en ligne */
    justify-content: center;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si l'espace est insuffisant */
    gap: 20px; /* Espacement entre les boutons */
}

.cocktail-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
}

.cocktail-btn img {
    width: 400px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.cocktail {
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.cocktail-btn img:hover {
    transform: scale(1.05);
}
